.link-secondary {
  color: var(--secondary) !important;
  text-decoration: underline;
}

.label-button {
  cursor: pointer;
  margin-bottom: 0;
}

.label-button:hover {
  text-decoration: underline;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup .caret {
  border-bottom: 4px dashed;
  border-top: 0;
  content: '';
}

.react-bootstrap-table {
  font-size: 0.875rem; /* Match the font-size of `<button class="btn btn-sm" />` */
}

/* Prevent excessive (and unnecessary) margin from react-table from increasing the height of the
 * `<thead>`
 */
.react-bootstrap-table th > .react-bootstrap-table-sort-order > .caret,
.react-bootstrap-table th .order > .dropdown > .caret,
.react-bootstrap-table th .order > .dropup > .caret {
  margin-bottom: 0;
  margin-top: 0;
}

.react-bootstrap-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* react-table */
.ReactTable {
  border: none;
  font-size: 0.875rem;
}

.ReactTable .rt-thead .rt-th {
  border-bottom: 2px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  font-weight: bold;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-tbody .rt-td,
.ReactTable .rt-tfoot .rt-td {
  border-right: none;
  line-height: 1.5; /* Match Bootstrap default */
  padding: 0.3rem;
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom-color: #dee2e6;
}

.ReactTable .rt-thead.-header,
.ReactTable .rt-tfoot,
.ReactTable .-pagination {
  box-shadow: none;
}

.ReactTable .rt-tfoot {
  border-top: 2px solid #dee2e6;
}

.ReactTable .-pagination {
  border-top-width: 1px;
}

.ReactTable .-pagination .-previous {
  text-align: right;
}

.ReactTable .-pagination .-next {
  text-align: left;
}
