.link-secondary {
  color: var(--secondary) !important;
  text-decoration: underline;
}

.label-button {
  cursor: pointer;
  margin-bottom: 0;
}

.label-button:hover {
  text-decoration: underline;
}
