.link-secondary {
  color: var(--secondary) !important;
  text-decoration: underline;
}

.label-button {
  cursor: pointer;
  margin-bottom: 0;
}

.label-button:hover {
  text-decoration: underline;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup .caret {
  border-bottom: 4px dashed;
  border-top: 0;
  content: '';
}

/* Prevent excessive (and unnecessary) margin from react-table from increasing the height of the
 * `<thead>`
 */
.react-bootstrap-table th > .react-bootstrap-table-sort-order > .caret,
.react-bootstrap-table th .order > .dropdown > .caret,
.react-bootstrap-table th .order > .dropup > .caret {
  margin-bottom: 0;
  margin-top: 0;
}
